<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    <title>How Much?</title>
  </head>
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <header class="d-flex flex-column align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4 col-md-12"><h3>Estimando Valores para Planos de Saúde Individuais</h3></span>
        </a>
        <div class="d-flex align-items-center">
          <p class="fs-5 col-md-12 mb-0">Programa de Mentoria entre alunos DSA</p>
        </div>
        <div class="d-flex align-items-center">
          <p class="fs-5 col-md-12 mb-0">Projeto em Ciência de Dados</p>
        </div>
      </header>

      <main>
        <div class="row g-5">
          <div class="col-md-6">

            <h3>Selecione as características do plano</h3>
            <hr class="col-3 col-md-12 mb-5">

            <div class="row mb-3">
              <label for="select-segmentacao" class="col-sm-4 col-form-label">Segmentação</label>
              <div class="col-sm-8">
                <select class="form-select" id="select-segmentacao" aria-label="Selectione o tipo de segmentação" data-bs-toggle="tooltip" data-bs-placement="top" title="Qual o tipo de segmentação?">
                  <!-- ... -->
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="select-in_odonto" class="col-sm-4 col-form-label">Odonto</label>
              <div class="col-sm-8">
                <select class="form-select" id="select-in_odonto" aria-label="Selectione se possui cobertura odontológica" data-bs-toggle="tooltip" data-bs-placement="top" title="Possui cobertura odontológica?">
                  <!-- ... -->
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="select-in_obstetricia" class="col-sm-4 col-form-label">Obstetricia</label>
              <div class="col-sm-8">
                <select class="form-select" id="select-in_obstetricia" aria-label="Selectione o tipo de obstetricia" data-bs-toggle="tooltip" data-bs-placement="top" title="Possui obstetricia?">
                  <!-- ... -->
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="select-abrangencia" class="col-sm-4 col-form-label">Abrangência</label>
              <div class="col-sm-8">
                <select class="form-select" id="select-abrangencia" aria-label="Selectione o tipo de abrangência" data-bs-toggle="tooltip" data-bs-placement="top" title="Qual o tipo de abrangência?">
                  <!-- ... -->
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="select-fator" class="col-sm-4 col-form-label">Fator</label>
              <div class="col-sm-8">
                <select class="form-select" id="select-fator" aria-label="Selectione o tipo de fator" data-bs-toggle="tooltip" data-bs-placement="top" title="Qual o tipo de fator?">
                  <!-- ... -->
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="select-acomodacao" class="col-sm-4 col-form-label">Acomodação</label>
              <div class="col-sm-8">
                <select class="form-select" id="select-acomodacao" aria-label="Selectione o tipo de acomodação" data-bs-toggle="tooltip" data-bs-placement="top" title="Qual o tipo de acomodação?">
                  <!-- ... -->
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="select-internacao" class="col-sm-4 col-form-label">Internação</label>
              <div class="col-sm-8">
                <select class="form-select" id="select-internacao" aria-label="Selectione o tipo de internação" data-bs-toggle="tooltip" data-bs-placement="top" title="Qual o tipo de internação?">
                  <!-- ... -->
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="select-cd_faixa_etaria" class="col-sm-4 col-form-label">Faixa Etária</label>
              <div class="col-sm-8">
                <select class="form-select" id="select-cd_faixa_etaria" aria-label="Selectione a faixa etária" data-bs-toggle="tooltip" data-bs-placement="top" title="Qual a faixa etária?">
                  <!-- ... -->
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="select-nm_regiao" class="col-sm-4 col-form-label">Região</label>
              <div class="col-sm-8">
                <select class="form-select" id="select-nm_regiao" aria-label="Selectione a região" data-bs-toggle="tooltip" data-bs-placement="top" title="Qual a região?">
                  <!-- ... -->
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label for="select-ano_mes" class="col-sm-4 col-form-label">Ano e Mês da Contratação</label>
              <div class="col-sm-8">
                <select class="form-select" id="select-ano_mes" aria-label="Selectione o ano e mês" data-bs-toggle="tooltip" data-bs-placement="top" title="Qual o ano e mês?">
                  <!-- ... -->
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-4"></div>
              <div class="d-flex flex-column align-items-center col-sm-8">
                <a class="btn btn-primary btn-lg px-4" id="how_much_button" data-bs-toggle="tooltip" data-bs-placement="top" title="Obter estimativa!">How Much?</a>  
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                  <div class="d-flex flex-column align-items-center col-sm-12">
                      <h3 id="how_much_answer"></h3>
                      <h5>Mensalidade</h5>
                      <a href="https://surveyheart.com/form/614296822cf97429d1b9a454" target="_blank">Participe de nossa pesquisa</a>
                  </div>
                </div>
            </div>
          </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Observação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Os valores estimados são apenas para planos de saúde <b>individuais</b>.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendi</button>
              </div>
            </div>
          </div>
        </div>

      </main>
      <footer class="pt-3 my-3 text-muted border-top">
        <div class="d-flex align-items-center">
          <div class="d-flex flex-column align-items-center col-md-6">
            <p class="fs-5 mb-0">Mentor</p>
            <p class="fs-5">Marcelo Wecchi</p>
          </div>
          <div class="d-flex flex-column align-items-center col-md-6">
            <p class="fs-5 mb-0">Mentorados</p>
            <p class="fs-5 mb-0">Rye Santana Takeda</p>
            <p class="fs-5 mb-0">Guilherme Coelho Neves</p>
            <p class="fs-5">Eder José de Carvalho</p>
          </div>
        </div>
        <!-- Mentoria · © 2021 -->
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
    <script type="text/javascript">
      
      // Init
      new bootstrap.Modal($('#staticBackdrop')).show();

      app.getOptions();

      // Events
      $('#how_much_button').on('click', () => {
        app.howMuch();
      })

      Array.from($('select, #how_much_button')).forEach((el) => {
        let tooltip = new bootstrap.Tooltip(el, {
          boundary: document.body
        })
      })

    </script>
  </body>
</html>